body {
	background-color:#131417;
	color: white;
	display:flex;
	flex-direction: column;
	margin:0px;
}

.options {
	width: calc(100% - 40px);
	zoom:100%;
	margin:20px;
}

.options input[type="button"]{
	width:100%;
}

.display {
	background: linear-gradient(225deg, #1e1e1e, #181a21);
	width: calc(100% - 40px);
	display:flex;
    flex-direction: row;
	padding:20px;
}

.display div {
	width:50%;
}

.display p { 
    position: absolute;
	text-align: center;
	margin:0px;
}

.display div * {
	width:100%;
	height:auto;
}

img {
    object-fit: cover;
}

@media only screen and (min-width: 690px) {
	body {
		flex-direction: row;
	}
	
	.display {
		width: fit-content;
   		flex-direction: column;
	}

	.display div {
		height: 50%;
		width:fit-content;
	}

	.display div * {
		width: auto;
   		height: 100%;
	}
	
	.options input[type="button"]{
		width:auto;
	}
}